# ignore input and output data
# note trailing /* is required for use with !.gitkeep
/data/fastq/*
/out/*

# ignore databases
/databases/checkm/*
/databases/phyloflash/*

# ignore snakemake working files
/.snakemake
/snakemake.err
/snakemake.out

# ignore slurm files
/slurm/*
!/slurm/.gitkeep

# ignore resources directory
/resources
!/resources/useful_commands.txt # except this file inherited from template

# ignore system files
.DS_Store

# retain .gitkeep files as placeholders in otherwise empty directories
!.gitkeep
.Rproj.user
