sample_metadata:
    'config/samples.tsv'

raw_data_dir:
    '/work/08186/cbaker/frontera/permafrost-pathogens-data'

cutadapt:
    # both adapter directions are the same
    adapter_fwd: 'CTGTCTCTTATACACATCT'
    adapter_rev: 'CTGTCTCTTATACACATCT'
    min_length: 50

sickle:
    quality_threshold: 20
    length_threshold: 20

fastq-join:
    max_percent_difference: 8 # default: 8
    min_overlap: 6 # default: 6
