sample_metadata:
    'config/samples.tsv'

raw_data_dir:
    '/work/08186/cbaker/frontera/permafrost-pathogens-data'

cutadapt:
    # TruSeq adapters
    adapter_fwd: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    adapter_rev: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    min_length: 50

sickle:
    quality_threshold: 20
    length_threshold: 50

fastq-join:
    max_percent_difference: 8 # default: 8
    min_overlap: 6 # default: 6
