# specify metadata folder relative to snakemake root
sample_metadata:
    'metadata/samples.tsv'

# specify raw data folder relative to snakemake root
raw_data_dir:
    'data/fastq'

# see https://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/bbduk-guide/ for guidance
# see also suggested values in post from Brian Bushnell http://seqanswers.com/forums/showthread.php?t=42776
bbduk:
    memory: '-Xmx3g' # restrict memory usage to 3GB
    threads: 1
    adapter_trimming:
        ref: 'databases/adapters.fa' # path to copy of file from BBTools, as file is not found with conda install
        ktrim: 'r' # trim adapters from 3' end only
        k: 20 # kmer size should be less than length of adapters
        mink: 8 # min kmer length towards ends
        hdist: 1 # hamming distance 1 allows up to 1 mismatch
        trim_params: 'tbo' # trim adapters based on pair overlap detection using BBMerge
    quality_filtering:
        qtrim: 'rl' # quality trim at 3' end only
        trimq: 10 # quality trim to Phred score 10
        minlength: 50
    contaminant_filtering: # PhiX
        ref: 'databases/phix174_ill.ref.fa.gz' # path to copy of file from BBTools, as file is not found with conda install
        k: 31 # kmer size
        hdist: 1 # hamming distance 1 allows up to 1 mismatch

dedupe:
    memory: '-Xmx180g' # restrict memory usage to 180GB

fastq-join:
    max_percent_difference: 8 # default: 8
    min_overlap: 6 # default: 6
