sample_metadata:
    'config/samples.tsv'

raw_data_dir:
    '/work/08186/cbaker/frontera/permafrost-pathogens-data'

cutadapt:
    quality_cutoff: 20
    # trim sequences for TruSeq as recommended by Illumina
    # (only includes the conserved part and not the indexes)
    adapter_fwd: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    adapter_rev: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    max_error_rate: 0.1
    minimum_length: 50

# see https://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/bbduk-guide/ for guidance
bbduk:
    ref: 'config/adapters.fa' # path to copy of file from BBTools, as file installed with conda is not found
    ktrim: 'r' # trim adapters from 3' end only
    k: 20 # should be less than length of adapters
    mink: 8 # min kmer length towards ends
    hdist: 1 # hamming distance 1 allows up to 1 mismatch
    trim_params: 'tbo' # trim adapters based on pair overlap detection using BBMerge
    qtrim: 'r' # quality trim at 3' end only
    trimq: 10 # quality trim to Phred score 10
    minlength: 50

sickle:
    quality_threshold: 20
    length_threshold: 50

fastq-join:
    max_percent_difference: 8 # default: 8
    min_overlap: 6 # default: 6
